body{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    background-color: #fff;
    color: rgb(31, 41, 40);
}
body .mainStr{
    margin: 0px 360px 0px 360px;
}
hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
}
a{
    padding: 13px;
    float: right;
    color: rgb(88, 88, 216);
    text-decoration: none;
}
header h1{
    color: rgb(31, 41, 40);
    /* padding-left: 15px;
    padding-right: 15px; */
}
.headImg img{
    width: 100%;
    opacity: 10px;
    /* height: 677px;
    width: 677px; */
}

.txtStory p{
    width: 100%;
    line-height: 1.7;
}

.txtStory img{
    width: 100%;
}

.Urban:hover {
    display: block;
    stroke: #333333;
    stroke-dasharray: 3%;
}

.Rural:hover {
    display: block;
    stroke: #333333;
    stroke-dasharray: 7%;
}




/* Dont look here */
.svgBlur{
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
h2{
    padding-left: 15px;
    height: 45px;
    color: rgb(34, 38, 37);
}
p{
    padding-left: 15px;
    color: rgb(89, 89, 89);
    width: 60%;
}
iframe{
    padding-left: 15px;
    border: none;
}
@keyframes example {
    0%   {filter: blur(1px);}
    25%  {filter: blur(8px);}
    50%  {filter: blur(49px);}
    75%  {filter: blur(9px);}
    100% {filter: blur(2px);}
  }


  /* for tablet and mobile */


  @media only screen and (max-width: 700px) {
    body .mainStr{
        margin: 0px 20px 0px 20px;
    }
    header h1{
        color: rgb(31, 41, 40);
        /* padding-left: 15px;
        padding-right: 15px; */
    }
    .headImg img{
        width: 100%;
        opacity: 10px;
        /* height: 677px;
        width: 677px; */
    }
    
    .txtStory p{
        width: 100%;
        line-height: 1.3;
    }
    
    .txtStory img{
        width: 100%;
    }
  }